.LoginPage .container {
    max-width: 960px;
}

.LoginPage form {
    background-color: #f7f7f7;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.LoginPage form h3 {
    color: black;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.LoginPage form .form-group {
    margin-bottom: 1.5rem;
}

.LoginPage form .form-control {
    width: 100%;
    color: black;
    border-radius: 0.5rem;
    border: none;
    background-color: #ebebeb;
    box-shadow: none;
    font-size: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.LoginPage form .form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.LoginPage form .btn {
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    transition: all 0.2s;
}

.LoginPage form .btn:hover {
    transform: scale(1.05);
}

.LoginPage form .displayed {
    display: block;
}

.LoginPage form .nonDisplayed {
    display: none;
}

.LoginPage label {
    font-size: 1.5rem;
    color: black;
}
